@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  ul {
    @apply list-disc;
    /* @apply list-inside; */
  }
  ol {
    @apply list-decimal;
    /* @apply list-inside; */
  }
  blockquote {
    @apply border-l-4 border-gray-300 pl-4;
  }
  code {
    @apply bg-gray-100 px-1 py-0.5 rounded;
  }

  pre {
    @apply bg-gray-50 p-20 rounded text-gray-800;
    @apply overflow-x-auto;
    @apply font-mono;
  }
}

/* App.css 또는 global CSS 파일에 추가 */
html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar-button .sidebar-button-text {
  transition: max-width 0.2s;
  max-width: 0;
}

.sidebar-button:hover .sidebar-button-text {
  max-width: 200px;
}

.toolbar__controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editor .DraftEditor-root {
  width: 100%;
  background-color: white;
  padding: 16px 24px;
}
.editor .DraftEditor-root,
.editor .DraftEditor-editorContainer,
.editor .public-DraftEditor-content {
  /* min-height: 50vh; */
  flex: 1 0 auto;
  background-color: white;
}
.editor .public-DraftEditorPlaceholder-inner {
  color: #a0aec0;
}
.editor .align-center {
  text-align: center;
}
.editor .align-right {
  text-align: right;
}
.editor .align-left {
  text-align: left;
}

.editor a {
  margin: 16px 0;
  width: 100%;
  color: #3182ce;
  cursor: pointer;
}
/* 
.editor a > div {
  width: 100%;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 0.25rem;
}

.editor a > div > img {
  width: 200px;
  height: 120px;
  object-fit: cover;
}

.editor a > div > div {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 16px;
  gap: 0.25rem;

  > .category {
    font-size: 12px;
    font-weight: medium;
  }
} */
.embedding-block {
  width: 100%;
  border: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 0.25rem;
}

.embedding-thumbnail {
  width: 200px;
  height: 120px;
  object-fit: cover;
}

.embedding-content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 16px;
  gap: 0.25rem;
}

.embedding-category {
  font-size: 12px;
  font-weight: medium;
}

.embedding-title {
  font-size: 14px;
  font-weight: bold;
}

.embedding-description {
  font-size: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.embedding-url {
  font-size: 12px;
  color: #757575;
}
